<%- include("partials/header") -%>

    <h2>Hello Guys !</h2>
    <p>
        My name is Shantanu Sakpal, as you all might know already.<br>
        I love coding, especially solving problems through it.<br>
        I also love singing , mostly alone.

    </p>
    <%- include ("partials/footer") -%>