<%- include("partials/header") -%>
    <div class="contact-container">
        <h2>Contact</h2>
        <ul>
            <li>Check out my <a href="https://github.com/shantanuSakpal">Github Profile</a> .</li>
            <li>Check out my <a href="https://github.com/shantanuSakpal">LinkdIn Profile</a> .</li>
            <li>Or simply <a href="mailto: shantanuesakpal1420@gmail.com">Email me</a> .</li>
        </ul>
    </div>

    <%- include ("partials/footer") -%>